<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    	xmlns:tools="http://schemas.android.com/tools"
		package="com.twobsoft.babymozartspacetrip">
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="com.android.vending.BILLING" />

	<application
			android:allowBackup="true"
        	android:fullBackupContent="true"
			android:icon="@mipmap/launcher_icon"
			android:isGame="true"
			android:appCategory="game"
        	android:label="Baby Mozart Space Trip"
        	tools:ignore="UnusedAttribute"
			android:theme="@style/GdxTheme">
		<activity
				android:name="com.twobsoft.babymozartspacetrip.android.AndroidLauncher"
				android:label="Baby Mozart Space Trip"
				android:screenOrientation="portrait"
				android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
          		android:exported="true">
				<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-5853277310445367~9540694589" />
		<receiver android:enabled="true" android:exported="true" android:name="com.twobsoft.babymozartspacetrip.android.NotificationActionService">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
			<intent-filter>
				<action android:name="Previous"/>
			</intent-filter>
			<intent-filter>
				<action android:name="Play"/>
			</intent-filter>
			<intent-filter>
				<action android:name="Next"/>
			</intent-filter>
		</receiver>

		<service android:enabled="true" android:name="com.twobsoft.babymozartspacetrip.android.BackgroundSoundService"/>
		<service android:enabled="true" android:name="com.twobsoft.babymozartspacetrip.android.OnClearFromRecentService"/>

	</application>

</manifest>
